<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" type="text/css" href="../public/Stylesheets/home.css">
        <link rel="stylesheet" type="text/css" href="../public/Stylesheets/buttons.css">
        <link rel="stylesheet" type="text/css" href="../public/Stylesheets/sections.css">
        <link rel="stylesheet" type="text/css" href="../public/Stylesheets/form.css">
        <link rel="stylesheet" type="text/css" href="../public/Stylesheets/boxes.css">
        <link rel="stylesheet" type="text/css" href="../public/Stylesheets/navbar.css">
        <link rel="stylesheet" type="text/css" href="../public/Stylesheets/utilites.css">
        <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="StyleSheets/navbar.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    </head>
    <body>
        <div class="NavbarDashboard">
            <div class="BoxLogo">
                <div class="BoxImage">
                    <a href="dashboard.html"></a>
                </div>  
            </div>
            <input type="checkbox" id="check">
            <label id="icone" for="check"><i class="material-icons" style="color: white; font-size: 2em;">menu</i></label>
            <ul class="NavBox">
                <li class="DivLink"><a href="dashboard.html"> <i class="material-icons">home</i></a>Início</li>
                <li class="DivLink"> <i class="material-icons">add_shopping_cart</i> Vendas</li>
                <a class="DivLink" href="cadastro_cliente.html"> <i class="material-icons">person_add</i>Cadastros</a>
                <li class="DivLink"><i class="material-icons">settings</i>Configurações</li>
                <li class="DivLink"> <i class="material-icons">business_center</i>Consignado</li>   
            </ul>
        </div>
        <div class="sale">
            <div class="sectionForm" id="app">
                <div class="Container">
                    <div class="SectionForm">
                        <div class="TitleForm">
                            <h1 class="title">Atualizar produto</h1>
                        </div>
                        <div class="Form">
                            <div class="Group">
                                <span class="span">Codigo</span>
                                <input class="input" id="code"></input>
                            </div>
                            <div class="Group">
                                <span class="span">Nome</span>
                                <input class="input" id="name"></input>
                            </div>
                            <div class="Group">
                                <span class="span">Valor</span>
                                <input class="input" id="price"></input>
                            </div>
                            <div class="Group">
                                <span class="span">Descrição</span>
                                <input class="input" id="description"></input>
                            </div>
                            <div class="Group">
                                <span class="span">Forma de pagamento</span>
                                <input class="input"></input>
                            </div>
                            <div class="Group">
                                <span class="span">Categoria</span>
                                <input class="input"></input>
                            </div>
                            <div class="boxButton">
                                <div class="buttonSmall btnUpdate">Atualizar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script language="JavaScript" src="../public/scripts/atualizar_produto.js"></script>
    </body>
</html>
