<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
      <link rel="stylesheet" type="text/css" href="../public/Stylesheets/home.css">
      <link rel="stylesheet" type="text/css" href="../public/Stylesheets/buttons.css">
      <link rel="stylesheet" type="text/css" href="../public/Stylesheets/sections.css">
      <link rel="stylesheet" type="text/css" href="../public/Stylesheets/form.css">
      <link rel="stylesheet" type="text/css" href="../public/Stylesheets/boxes.css">
      <link rel="stylesheet" type="text/css" href="../public/Stylesheets/navbar.css">
      <link rel="stylesheet" type="text/css" href="../public/Stylesheets/utilites.css">
      <link rel="stylesheet" type="text/css" href="../public/Stylesheets/modal.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link rel="manifest" href="/manifest.json">
      <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
      <meta name="msapplication-TileColor" content="#212121">
      <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
  </head>
  <body>
      <div class="Modal" id="modsus">
          <div class="Modal-overlay"></div>
          <div id="cont" class="Modal-content">
              <div class="modalHeader">
                  <div class="icon-modal bts"><img src="StyleSheets/close.png" width="30px" height="30px"></div>
              </div>
              <div class="modal-body">
                  <div ><img src="StyleSheets/sus.png" width="120px" height="120px"></div>
                  <h2 class="textModal">Venda efetuada com sucesso!</h2>
              </div>
              <div class="buttonXSmall bts">oK</div>
          </div>
      </div>
      <div class="Modal" id="modsusDel">
          <div class="Modal-overlay"></div>
          <div id="cont" class="Modal-content">
              <div class="modalHeader">
                 <div class="icon-modal btsDel"><img src="StyleSheets/close.png" width="30px" height="30px"></div>
              </div>
              <div class="modal-body">
                  <div ><img src="StyleSheets/sus.png" width="120px" height="120px"></div>
                  <h2 class="textModal">Venda deletada com sucesso!</h2>
              </div>
              <div class="buttonXSmall btsDel">oK</div>
          </div>
      </div>
      <div class="NavbarDashboard">
          <div class="BoxLogo">
              <div class="BoxImage">
              </div>
          </div>
          <input type="checkbox" id="check">
          <label id="icone" for="check"><i class="material-icons" style="color: white; font-size: 2em;">menu</i></label>
          <ul class="NavBox">
              <li class="DivLink"><a href="dashboard.html"> <i class="material-icons">home</i> </a>Início</li>
              <li class="DivLink"> <i class="material-icons">add_shopping_cart</i> Vendas</li>
              <a class="DivLink" href="cadastro_cliente.html"> <i class="material-icons">person_add</i>Cadastros</a>
              <li class="DivLink"><i class="material-icons">settings</i>Configurações</li>
              <li class="DivLink"> <i class="material-icons">business_center</i>Consignado</li>
          </ul>
      </div>
      <div class="sale">
          <div class="Container" >
              <div class="SectionForm" id="app">
                  <div class="TitleForm">
                      <h1 class="title">Finalizar venda externa</h1>
                  </div>
                  <div class="Form">
                      <div class="Group">
                          <span class="span">Código de vendedor</span>
                          <input class="input" id="vendedor"></input>
                      </div>
                      <div class="Group">
                          <span class="span">Data</span>
                          <input class="input" id="data"></input>
                      </div>	
                      <div class="div-prod" >
                          <div id="ColumnVenda"> 
                              <div class="prodVenda">
                                  <div class="name" style="margin-top: 5px;">
                                      <span>Produto</span>
                                  </div>
                                  <div class="preco" style="margin-top: 5px;">
                                      <span class="u-padding-5">100,00</span>
                                  </div>
                                  <div class="buttonExclui">
                                      <i class="material-icons" style="color: #C61357 ; margin-left: 15px;">delete</i>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="Group">
                          <span class="span">Cliente</span>
                          <input class="input" id="cliente"></input>
                      </div>	
                      <div class="Group">
                          <span class="span">Endereço</span>
                          <input class="input" id="endereco"></input>
                      </div>	
                      <div class="Group">
                          <span class="span">Forma de pagamento</span>
                          <input class="input" id="pagamento"></input>
                      </div>  
                      <div class="Group">
                          <span class="span">Valor</span>
                          <input class="input" id="valor"></input>
                      </div>  
                      <input type="hidden" class="input" id="ven"></input>
                      </div>			
                      <div class="boxButton">
                          <div class="buttonSmall BtnDelete" style="margin-right: 15px;" >Cancelar</div>
                          <div class="buttonSmall " @click="saveVenda()" id="btnEnviarV">Finalizar</div>
                      </div> 
                  </div>
              </div>
          </div>	
      </div>
      <script language="JavaScript" src="../public/scripts/finalizar_venda.js"></script>
  </body>
</html>
