  #btn-adicionar{
  	cursor: pointer;
  }

  .input-cat{
  	width: 100%;
  	height: 60px;
  	display: flex;
  	align-items: center;
  	justify-content: center;

  }

  .u-width-70{
  	width: 50%;
  	margin-right: 30px!important;
  	margin-bottom: 3px;
  }

  .cardVenda {
  	padding: 5px;
  	border-bottom: 1px solid #c1c1c1;
  	cursor: pointer;
  }

  .cardComi {
  	padding: 5px;
  	border-bottom: 1px solid #c1c1c1;
  }
  .prodVenda{
  	display: flex;
  	text-transform: uppercase;
  }

  .div-prod {
  	width: 83%;
  	min-height: 60px;
  	margin-top: 20px;
  	background-color: white;
  	color: black;
  	font-size: 14px;
  	border-radius: 5px;
  	box-shadow: 1px 2px 4px 0px #5d3343;
  	padding: 5px;
  }

  .Modal-overlay{
    background-color:rgba(0, 0, 0, 0.8)!important ;
     content: ' ';
    height: 100vh!important;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw!important;
    z-index: 9;
    display: block;
  }

.textModal {
	margin-top: 10px;
	 color: rgba(33,33,33,0.7); 
	 font-weight: lighter;
	 font-family: 'Lato', sans-serif;
}


.modalHeader {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-body {
	width: 100%;
	height: 60%;
	text-align: center;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.icon-modal {
	width: 35px;
	height: 35px;
	
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

body{
	margin: 0;
}

.headerCard {
	width: 100%;
	height: 22%;
	/*background-color: rgba(227, 47, 108, 0.46);*/
	/*background: linear-gradient(45deg, rgba(224, 68, 140, 0.42), rgba(30, 222, 187, 0.77), rgba(41, 95, 175, 0.71));*/
	background: linear-gradient(rgba(227, 47, 108, 0.46), rgba(224, 68, 140, 0.42));
	color: white;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	text-transform: capitalize;
	font-weight: lighter;
	z-index: 10;
}

.BoxDashboard{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 70vh;
	background-color: #212121;
}
.BoxMemories{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.Column{
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.MemoriesRed{
	font-family: 'Lato', sans-serif;
	  color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	  width: 100%;
	  border-radius: 3px;
	/*background-color: #1297E0;*/
	/*background-color: #e84877;*/
	/*background-color: #2fe2da;*/
	background-color: #1cbdbd;
	height: 30vh;
}
.MemoriesGreen{
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;

  width: 100%;
  height:30vh;
 /*background-color:  #E74C3C;*/

  /*background-color: #f1b03a;*/
  background-color: #702a87;
  border-radius: 3px;
}
.MemoriesBlue{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 30vh;

	background-color: transparent;
	justify-content: space-around;
}

.MemoriesSmall{
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vh;
	height: 30vh;
	border-radius: 3px;
	color: white;
	/*background-color: #2ECC71;*/
	/*background-color: #d09be6;*/
	/*background-color: #ffda0c;*/
	background-color: #cd63d4;
}
.MemoriesFat{
	font-family: 'Lato', sans-serif;
	  width: 100%;
	  /*background-color: #E74C3C;*/
	 /* background-color: #307bec;*/
	/* background-color: #d71a75;*/
	background-color: #FF0070;
	 color: white;
	 border-radius: 3px;
	  height: 30vh;
}
.BoxCards{
	width: 100%;
	display: flex;
	height: 70vh;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	}
.Card{
	background: linear-gradient( rgba(153, 53, 185, 0.42), rgba(91, 234, 208, 0.69), rgba(175, 41, 92,0.71));
    margin-top: 1.2%;
    margin-bottom: 1.2%;
	width: 47%;
	margin: 7px;
	border-radius: 5px;
	height: 30vh;
	display: flex;
	width: 100%;
	flex-direction: row;
	font-family: 'Lato', sans-serif;
}
.Card:hover{
	  box-shadow: 2px 1px 2px grey;
}
.CardTitle{
	background-image: url(https://images.freecreatives.com/wp-content/uploads/2016/04/Abstract-Modern-Design-Background-.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 3px;
	height: 30vh;
	width: 40%;
	font-family: 'roboto', sans-serif;

	/*background:linear-gradient(#b9356b, #3486c1, #ca2c68);*/
	/*background: linear-gradient(rgba(153, 53, 185, 0.93), #5bead0, #af295c);*/
	flex-grow: 1;
	color: white;
	font-size: 2em;
}
.CardColor{
	border-radius: 3px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: linear-gradient( rgba(153, 53, 185, 0.42), rgba(91, 234, 208, 0.69), rgba(175, 41, 92,0.71));
}

.CardContent{
	font-family: 'roboto', sans-serif;
	border-radius: 3px;
	background-color: #e8dee6;
	height: 100%;
	width: 60%;
	flex-grow: 1;
}

.u-padding-5 {
	padding-left: 5px;
}

.Product{
<<<<<<< HEAD
	width: 30%;
	height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 2px 2px #c1c1c1;
	margin: 10px;
=======
	width: 31%;
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: baseline;
	margin: 10px;
	z-index: 2;
	color: white;
	/*box-shadow: 1px 1px 2px 2px #c1c1c1;*/
/*background-color: #e8dee6;*/
	/*background-color: #702a87;*/
	/*background-color: rgba(67, 183, 218, 0.78);*/
	background-image: url("./fundo_card.png");
	font-family: 'roboto', sans-serif;
>>>>>>> 1dfc05f68bfc637e2f1bb00287248c4a2cdc72a9
}


.SectionProducts{
	width: 90%;
	min-height: 95vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
<<<<<<< HEAD
	background-color: #f9f9f9;
}
.BoxButtonProduct{
	width: 100%;
	height: 15%;
=======
	padding: 5%;
	
}
.BoxButtonProduct{
	width: 100%;
	height: 30%;
>>>>>>> 1dfc05f68bfc637e2f1bb00287248c4a2cdc72a9
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding: 0;
<<<<<<< HEAD
=======
	font-family: 'roboto', sans-serif;
	/*background-color: #e8dee6;*/
	/*background-color: rgba(67, 183, 218, 0.7);*/
>>>>>>> 1dfc05f68bfc637e2f1bb00287248c4a2cdc72a9
}
.ProductItem{
	min-height: 21%;
	width: 100%;
	display: flex;
	flex-direction: row;
	/*background-color: #e8dee6;*/
	align-items: center;
	justify-content: space-around;
	font-family: 'roboto', sans-serif;
	font-size: 1.2em;
	/*background-color: rgba(67, 183, 218, 0.7);*/
}
.ProductSubitem{
	height: 100%;
	width: 48%;
	align-items: center;
	justify-content: flex-start;
	display: flex;
	margin-left: 15px;
	font-family: 'roboto', sans-serif;
}

.buttonExclui {
	cursor: pointer;
}

.ProductMore {
	width: 100%;
	height: 100%;
	z-index: 10!important;
	position: absolute;
	background-color: rgba(227, 47, 108, 0.95);
	font-family: 'roboto', sans-serif;
	overflow: hidden;
	display: none;
	color: white;
	text-align: center;
}


.div {
z-index: 2!important;
position: relative;
width: 100%;
height: 80%;
}
.ProductDescription{
	z-index: 2;
	position: relative;
	width: 100%;
<<<<<<< HEAD
	display: flex;
	flex-direction: row;
	background-color: white;
	align-items: center;
	justify-content: space-around;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
}
.ProductSubitem{
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
}
=======
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-family: 'roboto', sans-serif;
	flex-direction: column;
	line-height: 1.5em;
}
>>>>>>> 1dfc05f68bfc637e2f1bb00287248c4a2cdc72a9

@media (max-width: 700px){
	

	.SectionProducts{
	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.Product{
	width: 90%;
	height: 35vh;
	margin: 10px;
	
}
	.MemoriesRed{
		margin: 2px;
	font-family: 'Lato', sans-serif;
	  color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	  width: 98%;
	  border-radius: 3px;
	/*background-color: #1297E0;*/
	/*background-color: #e84877;*/
	/*background-color: #2fe2da;*/
	background-color: #1cbdbd;
	height: 30vh;
}
.MemoriesGreen{
	margin: 2px;
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;

  width: 98%;
  height:30vh;
 /*background-color:  #E74C3C;*/

  /*background-color: #f1b03a;*/
  background-color: #702a87;
  border-radius: 3px;
}
	.MemoriesBlue{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 120vh;
	justify-content: center;

	background-color: transparent;
	justify-content: space-around;
}

.MemoriesSmall{
	margin: 2px;
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 98%;
	height: 30vh;
	border-radius: 3px;
	color: white;
	/*background-color: #2ECC71;*/
	/*background-color: #d09be6;*/
	/*background-color: #ffda0c;*/
	background-color: #cd63d4;
}
.MemoriesFat{
	font-family: 'Lato', sans-serif;
	  width: 98%;
	  /*background-color: #E74C3C;*/
	 /* background-color: #307bec;*/
	/* background-color: #d71a75;*/
	background-color: #FF0070;
	 color: white;
	 border-radius: 3px;
	 margin-top: 23px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	  height: 30vh;
}
}
@media (min-width:750px) and (max-width: 1199px){
	.BoxDashboard{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 96vw;
	min-height: 100vh;
	background-color: #212121;
}
.BoxMemories{
	width: 95vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


.BoxCards{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
	}
.Card{
	background: linear-gradient( rgba(153, 53, 185, 0.42), rgba(91, 234, 208, 0.69), rgba(175, 41, 92,0.71));
    margin-top: 1.2%;
    margin-bottom: 1.2%;
	width: 47%;
	margin: 7px;
	border-radius: 5px;
	height: 25vh;
	display: flex;
	flex-direction: row;
	font-family: 'Lato', sans-serif;
}
.Card:hover{
	  box-shadow: 2px 1px 2px grey;
}
.CardTitle{
	background-image: url(https://images.freecreatives.com/wp-content/uploads/2016/04/Abstract-Modern-Design-Background-.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 3px;
	height: 100%
	width: 50%;
	font-family: 'Lato', sans-serif;

	/*background:linear-gradient(#b9356b, #3486c1, #ca2c68);*/
	/*background: linear-gradient(rgba(153, 53, 185, 0.93), #5bead0, #af295c);*/
	flex-grow: 1;
	color: white;
	font-size: 2em;

}
.CardColor{
	border-radius: 3px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: linear-gradient( rgba(153, 53, 185, 0.42), rgba(91, 234, 208, 0.69), rgba(175, 41, 92,0.71));
}

.CardContent{
	font-family: 'Lato', sans-serif;
	border-radius: 3px;
	background-color: #e0e0e0;

	height: 100%;
	width: 50%;
	flex-grow: 1;

}

.MemoriesBlue{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 50%;

	background-color: transparent;
	justify-content: space-around;
}

.MemoriesSmall{
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 48.5%;
	height: 48.5%;
	border-radius: 3px;
	color: white;
	/*background-color: #2ECC71;*/
	/*background-color: #d09be6;*/
	/*background-color: #ffda0c;*/
	background-color: #cd63d4;
}
.MemoriesSmall:hover{
  box-shadow: 2px 1px 2px grey;
}
.MemoriesFat{
	font-family: 'Lato', sans-serif;
	  width: 100%;
	  height: 49%;
	  /*background-color: #E74C3C;*/
	 /* background-color: #307bec;*/
	/* background-color: #d71a75;*/
	background-color: #FF0070;
	 color: white;
	 border-radius: 3px;

}
.MemoriesFat:hover{
	  box-shadow: 4px 4px 4px grey;
}
.MemoriesRed{
	font-family: 'Lato', sans-serif;
	  color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 32.5%;
  border-radius: 3px;
	/*background-color: #1297E0;*/
	/*background-color: #e84877;*/
	/*background-color: #2fe2da;*/
	background-color: #1cbdbd;
}
.MemoriesRed:hover{
	  box-shadow: 2px 1px 2px grey;
}
.MemoriesGreen{
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;

  width: 100%;
  height: 32.5%;
 /*background-color:  #E74C3C;*/

  /*background-color: #f1b03a;*/
  background-color: #702a87;
  border-radius: 3px;
}
.MemoriesGreen:hover{
	  box-shadow: 2px 1px 2px grey;
}

.Column{
	width: 32.5%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
}

@media (min-width: 1200px) {
.LargeBox{
    padding-top: 35px;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 100vw;
	background-color: transparent;

}
.MediumBox{
	font-family: 'ABeeZee', sans-serif;
	text-align: center;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 70vw;
	font-weight: bold;
	font-size: 3em;
	background-color: transparent;
	color: white;
	text-shadow: 3px 2px 4px #000000;
}
.MediumBox2{
	min-height: 70vh;
	display: flex;
	flex-direction: row;
	width: 50vw;
	border: 0.5px solid #E0C3A5;
}


.titleAbout{
	color: #C61357;
	text-shadow: 3px 2px 4px #E0C3A5;
	font-weight: bold;
	font-size: 4em;
	font-family: 'Great Vibes', cursive;
	width: 100%;
	height: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content{
	text-align: center;
}
.BoxSale{
	width:80%;
	height: 100%;
}
.BoxSmall{
	width: 20%;
	height: 100%;
}
.BoxInputs{
	height: 30%;
	width: 100%;
}
.BoxList{
	height: 60%;
	width: 100%;
}
.BoxAdress{
	width: 83%;
	height: 200px;
	display: flex;
	justify-content: column;
	flex-wrap: wrap;
	border: 0.5px solid #E0C3A5;
	justify-content: center;
	margin-top: 30px;
	align-self: center;
	border-radius: 5px;
}
.BoxDescription{
	width: 70%;
	height: 100px;
	border: 0.5px solid #E0C3A5;
	display: flex;
	justify-content: center;
	margin-top: 4px;
	align-self: center;
	align-items: center;
	border-radius: 5px;
	border: 0.5px solid #C61357;
}
.BoxDescription:hover{
	box-shadow: 3px 2px 4px #ECDAAF;
	border: 0.5px solid #E0C3A5;
}
.BoxDashboard{
	display: flex;
	flex-direction: row;
	width: 90vw;
	height: 70vh;
	background-color: #212121;
}
.BoxMemories{
	flex-wrap: wrap;
	width: 50%;
	height: 90%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.BoxCards{
    padding-left: 3%;
	width: 35%;
	height: 90%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	}
.Card{
	background: linear-gradient( rgba(153, 53, 185, 0.42), rgba(91, 234, 208, 0.69), rgba(175, 41, 92,0.71));
    margin-top: 1.2%;
    margin-bottom: 1.2%;
	width: 90%;
	border-radius: 5px;
	height: 47.9%;
	display: flex;
	flex-direction: row;
	font-family: 'Lato', sans-serif;
}
.Card:hover{
	  box-shadow: 2px 1px 2px grey;
}
.CardTitle{
	background-image: url(https://images.freecreatives.com/wp-content/uploads/2016/04/Abstract-Modern-Design-Background-.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 3px;
	height: 100%
	width: 30%;
	font-family: 'Lato', sans-serif;

	/*background:linear-gradient(#b9356b, #3486c1, #ca2c68);*/
	/*background: linear-gradient(rgba(153, 53, 185, 0.93), #5bead0, #af295c);*/
	flex-grow: 1;
	color: white;
	font-size: 2em;

}
.CardColor{
	border-radius: 3px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: linear-gradient( rgba(153, 53, 185, 0.42), rgba(91, 234, 208, 0.69), rgba(175, 41, 92,0.71));
}

.CardContent{
	font-family: 'Lato', sans-serif;
	border-radius: 3px;
	background-color: #e0e0e0;

	height: 100%;
	width: 70%;
	flex-grow: 1;

}

.MemoriesBlue{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 50%;

	background-color: transparent;
	justify-content: space-around;
}

.MemoriesSmall{
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 48.5%;
	height: 48.5%;
	border-radius: 3px;
	color: white;
	/*background-color: #2ECC71;*/
	/*background-color: #d09be6;*/
	/*background-color: #ffda0c;*/
	background-color: #cd63d4;
}
.MemoriesSmall:hover{
  box-shadow: 2px 1px 2px grey;
}
.MemoriesFat{
	font-family: 'Lato', sans-serif;
	  width: 100%;
	  height: 49%;
	  display: flex;
	  /*background-color: #E74C3C;*/
	 /* background-color: #307bec;*/
	/* background-color: #d71a75;*/
	background-color: #FF0070;
	 color: white;
	 border-radius: 3px;

}
.MemoriesFat:hover{
	  box-shadow: 4px 4px 4px grey;
}
.MemoriesRed{
	font-family: 'Lato', sans-serif;
	  color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 32.5%;
  border-radius: 3px;
	/*background-color: #1297E0;*/
	/*background-color: #e84877;*/
	/*background-color: #2fe2da;*/
	background-color: #1cbdbd;
}
.MemoriesRed:hover{
	  box-shadow: 2px 1px 2px grey;
}
.MemoriesGreen{
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;

  width: 100%;
  height: 32.5%;
 /*background-color:  #E74C3C;*/

  /*background-color: #f1b03a;*/
  background-color: #702a87;
  border-radius: 3px;
}
.MemoriesGreen:hover{
	  box-shadow: 2px 1px 2px grey;
}

.Column{
	width: 32.5%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
}
