.buttonSmall {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	font-size: 1.2em;
	
	background-color:  #ffffff;
	color: #E32F6C;
	border: 2px solid #E32F6C;
	height: 50px;
	width: 100px;
	border-radius: 7px;
	margin-bottom: 10px;
	margin-right: 10px;
	cursor: pointer;
	
	font-family: 'Inconsolata', monospace;
}
.buttonSmall:hover {
	color: white;
	box-shadow: 3px 2px 4px #B63165;
	/*margin-right: 75px;*/
	background-color: #E32F6C;
	font-weight: normal;
	cursor: pointer;
}
.buttonXSmall {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	font-size: 0.9em;
	cursor: pointer;
	height: 35px;
	width: 84px;
	border-radius: 7px;
	text-transform: uppercase;
	font-family: 'lato', monospace;
	background-color:  #ffffff;
	color: #E32F6C;
	border: 2px solid #E32F6C;
	font-weight: bold;

}
.buttonXSmall:hover {
	color: white;
	box-shadow: 3px 2px 4px #B63165;
	/*margin-right: 75px;*/
	background-color: #E32F6C;
	font-weight: normal;
}

.buttonMedium {
	font-family: 'Inconsolata', monospace;
	margin-top: 35px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	font-size: 1.5em;
    text-decoration: none;
    background-color:  #ffffff;
	color: #E32F6C;
    height: 90px;
    width: 200px;
    border-radius: 7px;
    color: white;

}
.buttonMedium:hover {
	color: white;
	box-shadow: 3px 2px 4px #B63165;

	background-color: #E32F6C;
	font-weight: normal;
}
.buttonSlim {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	font-size: 1.2em;
	box-shadow: 3px 2px 4px #B63165;
	margin-right: 75px;
	background-color: #E32F6C;
	height: 30px;
	width: 170px;
	border-radius: 5px;
	color: white;
	font-family: 'Inconsolata', monospace;
	
}
.buttonSlim:hover {
	box-shadow: 3px 2px 4px #E32F6C;
	background-color:  #B63165;
}