.Container{
	width: 90%;
	display: flex;
	justify-content: column;
	flex-wrap: wrap;
	/*border: 0.5px solid #E0C3A5;*/
	justify-content: center;
	align-self: center;
	/*min-height: 65vh;*/
	margin-top: 35px;
	/*background-color: #e8dee6;*/
	background-image: url("./fundo.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 35px;
	padding-bottom: 15px;
	border-radius: 5px;

}

.div-value {
	display: flex;
    flex-direction: row;
    width: 44%;
    justify-content: space-between;
}

.SectionForm {
height: 100%;
width: 100%;
/*background-color: rgba(4, 101, 130, 0.7);*/
background: linear-gradient( rgba(153, 53, 185, 0.42), rgba(91, 234, 208, 0.69), rgba(175, 41, 92,0.71));
}
.prod-bac {
	width: 100%;
	height: 95%;
	background: linear-gradient( rgba(224, 68, 140, 0.42), rgba(30, 222, 187, 0.77), rgba(41, 95, 175, 0.71));
}

.TitleForm {
	font-family: 'Lato', sans-serif;
	height: 40px;
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: center;
		/*background-color: rgba(227, 47, 108, 0.7);*/
		/*background-color: rgba(4, 101, 130, 0.7);*/

		color: white;
	}

.Form {
	font-family: 'Lato', sans-serif;
	padding-top: 30px;
	height: 100%;
	flex-grow: 9;
	width: 98%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
	flex-wrap: wrap;
	flex-direction: column;
	border-radius: 5px;
		/*background-color: #e8dee6;*/
		/*background-color: rgba(4, 101, 130, 0.7);*/
		color: white;

}

.Group {
	font-family: 'Lato', sans-serif;
	display: flex;
	width: 90%;
	flex-direction: column;
    margin: 15px;
    height: 65px;
    font-size: 1em;
	justify-content: center;
}

.input {
	border: 2px solid #C61357;
	height: 30px;
	border-radius: 5px;
	margin-top: 4px;
	background-color: white;
	padding-left: 5px;
}

.input:hover {
	box-shadow: 3px 2px 4px #ECDAAF;
	border: 0.5px solid #E0C3A5;
}
.input:active {
	box-shadow: 3px 2px 4px #ECDAAF;
	border: 0.5px solid #E0C3A5;
}

.span {
	font-family: 'Lato', sans-serif;
}

.boxButton {
	/*padding-top: 20px;*/
	flex-grow: 1;
	width: 100%;
	display: flex;
	align-self: flex-end;
	justify-content: flex-end;
/*	background-color: rgba(4, 101, 130, 0.7);*/


}
.title {
		color: white;
		font-size: 2em;
		font-weight: lighter;
		text-transform: capitalize;


	}
	.TitleForm h1{
		font-size: 1.5em;
		/*padding: 2px;*/
		text-align: center;
	}

@media (min-width: 900px) {
	.Container {
		/*border: 0.5px solid #E0C3A5;*/
		width: 65%;
		height: 80%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;
		border-radius: 5px;
		margin-bottom: 30px;
		/*padding-bottom: 30px;*/
	}


	.TitleForm {
		padding-bottom: 15px;
		height: 50px;
		/*flex-grow: 1;*/
		width: 100%;
		display: flex;
		justify-content: center;
		/*background-color: rgba(227, 47, 108, 0.7);*/
		/*background-color: (4, 101, 130, 0.7);*/
		color: white;

	}


	.title {
		color: white;
		font-size: 1.5em;
		font-weight: bold;

	}
	.Form {
		padding-top: 25px;
		/*flex-grow: 9;*/
		width: 100%;
		height: 80%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		border-radius: 5px;

	}
	.FormDescription{
		padding-top: 25px;
		width: 70vw;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.Group{
		margin-bottom: 0 !important;
		display: flex;
		flex-direction: column;

	    height: 60px;
	    font-size: 1em;
		width: 40%;
		padding-bottom: 0;

	}
	.GroupAdress{
		margin-bottom: 0 !important;
		display: flex;
		flex-direction: column;
	    margin: 7px;
	    height: 60px;
	    font-size: 1em;
		width: 45%;
		padding-bottom: 0;

	}
	.input {
		border: 2px solid #C61357;
		height: 30px;
		border-radius: 5px;
		background-color: white;
		margin-top: 4px;
	}
	.input:hover {
		box-shadow: 3px 2px 4px #ECDAAF;
		border: 0.5px solid #E0C3A5;
	}
	.input:active {
		box-shadow: 3px 2px 4px #ECDAAF;
		border: 0.5px solid #E0C3A5;
	}
	.span {
		font-weight: bold;
	}

	.TitleAdress {
    	display: flex;
    	align-self: center;
    	width: 100%;
    	align-items: center;
    	justify-content: center;
    	height: 30px;
    	flex-grow: 1;
    	padding: 5px;
	}

	.ContentAdress{
		display: flex;
    	width: 100%;
    	height: 160px;
    	flex-grow: 4;
    	flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: center;
    	padding-bottom: 25px;
	}
	.boxButton {
	padding-top: 20px;
	flex-grow: 1;
	padding-bottom: 10px;
	width: 92%;
	height: 10%;
	display: flex;
	align-self: flex-end;
	justify-content: flex-end;
	padding-right: 70px;
	/*background-color: rgba(4, 101, 130, 0.7);*/
	margin: 0;


}

}
