<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href="StyleSheets/home.css">
  <link rel="stylesheet" type="text/css" href="StyleSheets/buttons.css">
  <link rel="stylesheet" type="text/css" href="StyleSheets/sections.css">
  <link rel="stylesheet" type="text/css" href="StyleSheets/form.css">
  <link rel="stylesheet" type="text/css" href="StyleSheets/boxes.css">
  <link rel="stylesheet" type="text/css" href="StyleSheets/utilites.css">
  <link rel="stylesheet" type="text/css" href="StyleSheets/navbar.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>

</head>
<body>
<div class="NavbarDashboard">
    <div class="BoxLogo">
      <div class="BoxImage">
        
      </div>
      
    </div>

<input type="checkbox" id="check">
    <label id="icone" for="check"><i class="material-icons" style="color: white; font-size: 2em;">menu</i></label>
    
    <ul class="NavBox">
      <li class="DivLink"><a href="dashboard.html"> <i class="material-icons">home</i> Início</a></li>
      <li class="DivLink"> <i class="material-icons">add_shopping_cart</i> Vendas</li>
      <a class="DivLink" href="cadastro_cliente.html"> <i class="material-icons">person_add</i>Cadastros</a>
      <li class="DivLink"><i class="material-icons">settings</i>Configurações</li>
      <li class="DivLink"> <i class="material-icons">business_center</i>Consignado</li>
      
    </ul>
    
  </div>
  <section class="sale">
  <div class="sectionForm" id="app">
    <div class="Container">
      <div class="TitleForm">
        <h1 class="title">Cadastrar Fornecedor</h1>
      </div>
      <div class="Form">
      <div class="Group">
        <span class="span">Codigo</span>
        <input class="input" v-model="fornecedor.code"></input>
      </div>
      <div class="Group">
        <span class="span">Nome</span>
        <input class="input" v-model="fornecedor.name"></input>
      </div>
      <div class="Group">
        <span class="span">CNPJ</span>
        <input class="input" v-model="fornecedor.cnpj"></input>
      </div>
      <div class="Group">
        <span class="span">Endereço</span>
        <input class="input" v-model="fornecedor.endereco"></input>
      </div>
      <div class="Group">
        <span class="span">Telefone</span>
        <input class="input" v-model="fornecedor.telefone"></input>
      </div>
      <div class="Group">
        <span class="span">E-mail</span>
        <input class="input" v-model="fornecedor.email"></input>
      </div>
      
      <div class="boxButton" @click="saveFornecedor()">
        <div class="buttonSmall">Cadastrar</div>
      </div>
    </div>
  </div>
</div>
</section>
</body>
<script>
new Vue({
  el: '#app',
  data:{
    fornecedor: {code: "",name: "", cnpj: "", endereco: "", telefone: "", email: ""}
  },
  methods: {
    saveFornecedor(){
      var fornecedor = this.fornecedor
      this.$http.get(`/api/fornecedor/new/${fornecedor.code}/${fornecedor.name}/${fornecedor.cnpj}/${fornecedor.endereco}/${fornecedor.telefone}/${fornecedor.email}`).then(response => {
        console.log(response)
        alert(response.body)
      }, error => {
        alert(error.body)
      });
    }
  },
})
</script>

</html>

<!-- /api/product/new/:code/:name/:price/:description -->
