<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href="StyleSheets/home.css">
  <link rel="stylesheet" type="text/css" href="StyleSheets/buttons.css">
  <link rel="stylesheet" type="text/css" href="StyleSheets/sections.css">
  <link rel="stylesheet" type="text/css" href="StyleSheets/form.css">
  <link rel="stylesheet" type="text/css" href="StyleSheets/boxes.css">
  <link rel="stylesheet" type="text/css" href="StyleSheets/utilites.css">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>

</head>
<body>
  <div class="sectionForm" id="app">
    <div class="Container">
      <div class="TitleForm">
        <h1 class="title">Cadastrar Produto</h1>
      </div>
      <div class="Group">
        <span class="span">Codigo</span>
        <input class="input" v-model="product.code"></input>
      </div>
      <div class="Group">
        <span class="span">Nome</span>
        <input class="input" v-model="product.name"></input>
      </div>
      <div class="Group">
        <span class="span">Valor</span>
        <input class="input" v-model="product.price"></input>
      </div>
      <div class="boxButton" @click="saveProduct()">
        <div class="buttonSmall">Cadastrar</div>
      </div>
    </div>
  </div>
</body>
<script>
new Vue({
  el: '#app',
  data:{
    product: {code: "",name: "", price: ""}
  },
  methods: {
    saveProduct(){
      var product = this.product
      this.$http.get(`/api/product/new/${product.code}/${product.name}/${product.price}/DescriçãoPadrao`).then(response => {
        console.log(response)
        alert(response.body)
      }, error => {
        alert(error.body)
      });
    }
  },
})
</script>

</html>

<!-- /api/product/new/:code/:name/:price/:description -->
